/*POKEMON COLORS
yellow: #FFCB05;
blue: #3D7DCA;
navy blue: #003A70;*/


* {
	box-sizing: border-box;
}

.page-header {
    padding: 40px;
}

.container {
	margin-top: 150px;
}

.logo{
	width: 150px;
	height:  60px;
	object-fit: cover;
}

.navbar{
	background-color: #E3ABB5;
}

.list-container{
	margin-top: 30px;
}

.pokemon-list{
	flex-direction: row;
}

li.group-list-item{
	margin-bottom: 15px;
}